<div class="mb-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="left_sidebar_area">
                    <aside class="left_widgets cat_widgets">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li><a routerLink="/accordion/basic">Accordion</a></li>
                                <li><a routerLink="/accordion/static">One open panel at a time</a></li>
                                <li><a routerLink="/accordion/toggle">Toggle panels</a></li>
                                <li><a routerLink="/accordion/prenvent-change">Prevent panel toggle</a></li>
                                <li><a routerLink="/accordion/config">Global configuration of accordions</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-7">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>    