.f_p_item h4 {
    color: #222222;
    font-size: 16px;
    margin-top: 15px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
.f_p_item h5 {
    margin-bottom: 0px;
    font-size: 18px;
    color: #777777;
}
.f_p_item {
    margin-bottom: 50px;
}